<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ESDM Goals</title>
  </head>
  <body>
    <div class="hero-section">
      <h1>Early State Denver Model</h1>
      <%= image_tag "autism_puzzle_piece.png", :id => "autism-logo"%>
    </div>
  </body>
</html>
