<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @guardian.first_name + "'s' kids" %></title>
  </head>
  <body>
    <% @kids.each do |kid| %>
      <ul>
        <h3><%= link_to kid.first_name, guardian_kid_path(@guardian, kid) %></h3>
      </ul>
    <% end %>
  </body>
</html>
