<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @kid.first_name + " " + @kid.last_name%></title>
  </head>
  <body>
    <h1><%= @kid.first_name + " " + @kid.last_name%></h1>
    <h3>Birthdate: <%= @kid.birthdate %></h3>
    <h3>Has Diagnosis: <%= @kid.has_diagnosis %></h3>
  </body>
</html>
