<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Case Show Page</title>
  </head>
  <body>
    <h1>Case Show Page</h1>
    <h3>Guardian: <%= @case.guardian.first_name + " " + @case.guardian.last_name %></h3>
    <h3>Kid: <%= @case.kid.first_name + " " + @case.kid.last_name %></h3>
  </body>
</html>
